<p>ejercicio3 works!</p>

<form >
  <div class="col-md-3">
    <label for="exampleInputEmail1">Introduce el primer lado: </label>
    <input [(ngModel)]="base" name="num1" type="number" class="form-control" placeholder="Introduce el primer lado" >
  </div>
<br>
  <div class="col-md-3">
    <label for="exampleInputEmail1">Introduce el segundo lado: </label>
    <input [(ngModel)]="altura" name="num2"type="number" class="form-control" placeholder="Introduce el segundo lado">
  </div>
  <br>
  <button class="btn btn-primary" (click)="calcular()">Calcular perimetro</button>
  <br>
  <div class="col-md-3">

  <label> Resultado: {{resultado}}</label>
  </div>

</form>
