

<p-accordion>
  <p-accordionTab header="Experiencia 1">
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita id rerum assumenda provident beatae quia
     accusamus sapiente doloribus libero quam, omnis magni quo, quaerat commodi ab delectus, obcaecati eius eos?
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita id rerum assumenda provident beatae quia
     accusamus sapiente doloribus libero quam, omnis magni quo, quaerat commodi ab delectus, obcaecati eius eos?
  </p-accordionTab>
  <p-accordionTab header="Experiencia 2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita id rerum assumenda provident beatae quia
     accusamus sapiente doloribus libero quam, omnis magni quo, quaerat commodi ab delectus, obcaecati eius eos?
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita id rerum assumenda provident beatae quia
     accusamus sapiente doloribus libero quam, omnis magni quo, quaerat commodi ab delectus, obcaecati eius eos?

  </p-accordionTab>
  <p-accordionTab header="Experiencia 3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita id rerum assumenda provident beatae quia
    accusamus sapiente doloribus libero quam, omnis magni quo, quaerat commodi ab delectus, obcaecati eius eos?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita id rerum assumenda provident beatae quia
    accusamus sapiente doloribus libero quam, omnis magni quo, quaerat commodi ab delectus, obcaecati eius eos?
  </p-accordionTab>
</p-accordion>
