<div pFocusTrap>
  <div pFocusTrap class="card">
      <h5>Nombre y apellidos:</h5>
      <input id="input" type="text" size="30" pInputText>


      <h5>Telefono: </h5>
      <span class="p-float-label">
          <input id="float-input" type="text" size="30" pInputText>
          <label for="float-input"></label>
      </span>

      <h5>Mensaje: </h5>

      <textarea [rows]="5" [cols]="30" pInputTextarea ></textarea>


      <h5> </h5>
      <button pButton type="button" icon="pi pi-check" tabindex="-1"  label="Enviar mensaje"></button>





  </div>






<!-- <form class="p-3 bg-faded">
  <div class="form-group row">
    <label for="firstname" class="col-sm-3 col-form-label"><strong>Nombre: </strong></label>
    <div class="col-sm-9">
      <input id="firstname" type="text" class="form-control" formControlName="firstname" />
    </div>
  </div>

  <div class="form-group row">
    <label for="lastname" class="col-sm-3 col-form-label"><strong>Apellido: </strong></label>
    <div class="col-sm-9">
      <input id="lastname" type="text" class="form-control" formControlName="lastname" />
    </div>
  </div>

  <div class="form-group row">
    <label for="lastname" class="col-sm-3 col-form-label"><strong>Email: </strong></label>
    <div class="col-sm-9">
      <input id="lastname" type="text" class="form-control" formControlName="lastname" />
    </div>


  </div>

  <div class="form-group row">
    <label for="lastname" class="col-sm-3 col-form-label"><strong>Mensaje: </strong></label>
    <div class="col-sm-9">
      <input id="lastname" type="text" class="form-control" formControlName="lastname" />
    </div>


  </div>






  <div class="text-right">
    <button pButton type="button" class="ui-button-info" icon="fa-times" label="Enviar mensaje" ></button>

  </div>
</form> -->
